# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=stockwise_db

# Backend
DB_CONNECTION_STRING=postgres://postgres:your_password_here@postgres:5432/stockwise_db?sslmode=disable
ML_API_URL=http://fastapi:8000

# Frontend
EXPO_PUBLIC_API_URL=http://localhost:8080

# Supabase
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_KEY=your_supabase_anon_key_here