node_modules
ml/.env
backend/.env
ml/training_data
catboost_info
ml/progress
.expo
frontend/.expo
frontend/.vscode
micro-services/__pycache__
ml/models/kmeans_stock_clustering.onnx
micro-services/.env
micro-services/.venv
ml/models/.venv