node_modules
ml/.env
backend/.env
ml/training_data
catboost_info
ml/progress
.expo
frontend/.expo
frontend/.vscode
services/__pycache__
ml/models/kmeans_stock_clustering.onnx
services/.env
services/.venv
ml/models/.venv
services/models/finbert/*.onnx

# services/models/*.onnx
# services/models/*.pkl
# services/models/*.csv
services/models/finbert/*
.venv
.env