fastapi
uvicorn
pydantic
python-dotenv
requests
numpy
pandas
yfinance
onnxruntime
scikit-learn
skl2onnx
catboost
nltk
# seaborn
# matplotlib
textblob
vaderSentiment
newsapi-python
lxml
# torch
# transformers
# huggingface_hub
