fastapi
uvicorn
pydantic
python-dotenv
requests
numpy
pandas
yfinance
onnxruntime
redis
types-redis
scikit-learn
skl2onnx
catboost
nltk
# seaborn
# matplotlib
textblob
vaderSentiment
newsapi-python
torch
transformers
